/* HOME PAGE CSS*/
* {
    box-sizing: border-box;
  }
  
  .openBtn {
    margin-top: -40px;
    margin-left: 1100px;
    text-align: right;
    background: #f1f1f1;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .openBtn:hover {
    background: #bbb;
  }
  
  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
  }
  
  .overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
  }
  
  .overlay .closebtn:hover {
    color: #ccc;
  }
  
  .overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
  }
  
  .overlay input[type=text]:hover {
    background: #f1f1f1;
  }
  
  .overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .overlay button:hover {
    background: #bbb;
  }
    


#content{
    max-width:1600px ;
    margin: 0 auto ;
    display: grid;
    background-color: #b6cfe0;
}

nav a{
    display:inline;
    text-align: center;
    color: rgb(110, 110, 212);
    font-size: 2em;
    justify-content:center;
    margin-left:210px;
    font-family: permanent marker;  
}
.logo{
    width: 200px;
    padding-top: 5px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.home-img{
    width: 300px;
    text-align: right;
    margin-left:850px;
    grid-column-start: 5;
}
.hero-msg p:nth-of-type(1){
    text-align: center;
    color: rgb(238, 16, 64);
    font-family: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat;
    font-size: 1.1em;
    margin-top: 10px;
}
#titles{
    display: grid;
    
    margin-top: -17px;

}
h1{
    align-self: center;
    color: #4f345a;
    margin-left: 50px;
    text-decoration: solid;
    padding: 0%;
    font-family: permanent marker;
}
h2{
    margin-left: auto;
    margin-top: -50px;
    margin-right: 300px;
    color: #4f345a;
    text-decoration: solid;
    padding: 0%;
    font-family: permanent marker;
}
body {
    background-color:#8fa998; 
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    margin: 0;
    padding: 0;
}
.home-grid{
    display: grid;
    text-align:auto;
    width: 50%;
    justify-content: stretch;
  
}
.news1{
    margin-right:auto;
    text-align: left;
    margin-left: 10px;
}
.news1 p:nth-of-type(1){
    text-align: left;
    font-size: medium;
    margin-left: 10px;
    color: #4f345a;
}
.news1_img{
    width: 300px;
    height: 200px;
}
.news1 p:nth-of-type(1){
    justify-self: center;
    width: 250px;
    margin-left:220px;
    margin-top: -150px;
    margin-bottom: 80px;
    font-size: 1.1em;
}
.news2{
    margin-right:auto;
    text-align: left;
    margin-left: 0px; 
}
.news2-img{
    width: 300px;
    height: 200px;
    margin-top: 0px;

}
.news2 p:nth-of-type(1){
    text-align: left;
    font-size: medium;
    margin-left: 320px;
    color: #4f345a;
    justify-self: center;
    width: 150px;
    margin-top: -150px;
    margin-bottom: 80px;
    font-size: 1.1em;
}
.news3{
    margin-left: 0px;
}
.news3-img{
    width: 300px;
    height: 200px;
    margin-left: 0px;
}
.news3 p:nth-of-type(1){
    text-align: left;
    font-size: medium;
    margin-left: 320px;
    color: #4f345a;
    justify-self: center;
    width: 150px;
    margin-top: -150px;
    margin-bottom: 100px;
    font-size: 1.1em;

}
.button-box1{
    text-align: left;
}
.more1{
    text-decoration: solid;
    text-align: left;
    margin-left: 300px;
    margin-top: -10px;
    margin-bottom: 100px;
    font-size: 2em;
    color: blueviolet;
    padding: 0%;
    font-family: permanent marker;
}
.button-box2{
    text-align: right;
    margin-right: 80px;
    margin-top: -50px;

}
.more2{
    text-decoration: solid;
    text-align: right;
    margin-left: 300px;
    margin-top: -50px;
    margin-bottom: 100px;
    font-size: 2em;
    color: blueviolet;
    padding: 0%;
    font-family: permanent marker;
}
.ent1{
    text-align: right;
    margin-top: -600px;
    margin-right: 50px;
}
.ent1-img{
    width: 300px;
    height: 200px;
    margin-top: -20000px;
    margin-right: 170px;
}
.ent1 p:nth-of-type(1){
    width: 150px;
    text-align: right;
    margin-left:220px;
    margin-left: auto;
    margin-top: -200px;
    justify-self: left;
    color: #4f345a;
    font-size: medium;
    font-size: 1.1em;
}
.ent2{
    text-align: right;
    margin-top: -550px;
    margin-right: 50px;
}
.ent2 p:nth-of-type(1){
    width: 150px;
    text-align: right;
    margin-left:220px;
    margin-left: auto;
    margin-top: -150px;
    justify-self: left;
    color: #4f345a;
    font-size: medium;
    font-size: 1.1em;
}
.ent2-imag{
    width: 300px;
    height: 200px;
    margin-right: 170px;
}
.ent3{
    text-align: right;
    margin-left: auto;
    margin-top: -320px;
    margin-left: 900px;

}
.ent3 p:nth-of-type(1){
    width: 150px;
    text-align: right;
    margin-left:220px;
    margin-left: auto;
    text-align: right;
    margin-left:220px;
    margin-left: auto;
    margin-top: -150px;
    justify-self: left;
    color: #4f345a;
    font-size: medium;
    font-size: 1.1em;
}
.ent3-image{
    width: 300px;
    height: 200px;
    margin-right: 170px;
}
footer{
    background: #5d4e6d;
    color: rgb(163, 109, 109);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color: #4f345a;
    text-decoration: none;

}
footer .social{
    display: grid;
}
footer .social img{
    padding-top: 15px;
}
footer a:hover{
    color: rgb(58, 56, 161);
} 
/* OPPORTUNITIES CSS*/
.wel-msg{
    text-align: center;

}
#welcome p:nth-of-type(1){
    font-size: 1.2em;
    color: rgb(129, 42, 61);
   text-align: center;
    margin-top: -20px; 
    font-size: 1.3em;
    text-transform: capitalize;
}
h6{
    color: #4f345a;
    text-decoration: solid;
    padding: 0%;
    font-family: permanent marker;
    font-size: 1.5em;
    margin-left: 200px;
}
#category p:nth-of-type(1){
    font-size: 1.2em;
    color: rgb(129, 42, 61);
    margin-left: 300px;
    margin-top: -40px;
    font-size: 1.3em;
    text-transform: capitalize;
}

.job1{
    margin-right:auto;
    text-align: left;
    margin-left: 20px; 
}
.camp-logo{
    width: 200px;
    height: 100px;
}
.job1-h{
    margin-left: 210px;
    margin-top: -80px;
    margin-bottom: 100px;
    font-size: 1.3em;
   
    color: rgb(119, 245, 108);
}
.job1 p:nth-of-type(1){
    color: rgb(129, 42, 61); 
    margin-left:50px ;
    margin-top: -30px;
    font-size: 1.3em;
}
.job1 ul:nth-of-type(1){
    color: rgb(129, 42, 61); 
    margin-left:50px ;
    font-size: 1.2em;
}
.job2{
    margin-right:auto;
    text-align: left;
    margin-left: 20px;
}
.camp-logo2{
    width: 200px;
    height: 100px;
}
.job2-h{
    margin-left: 210px;
    margin-top: -80px;
    margin-bottom: 100px;
    font-size: 1.3em;
    color: rgb(119, 245, 108);  
}
.job2 p:nth-of-type(1){
    color: rgb(129, 42, 61); 
    margin-left:50px ;
    margin-top: -30px;
    font-size: 1.3em
}
.job2 ul:nth-of-type(1){
    color: rgb(129, 42, 61); 
    margin-left:50px ;
    font-size: 1.2em;
}
.camp-logo3{
    width: 200px;
    height: 100px;
    margin-left:600px ;
    margin-right:0px ;
    margin-top:-900px ;
    margin-bottom: 500px;
}
.job3-h{
    font-size: 1.3em;
    color: rgb(119, 245, 108); 
    margin-top: -580px;
    margin-bottom: 100px;
    margin-left:820px ;
}
.job3 p:nth-of-type(1){
    color: rgb(129, 42, 61); 
    font-size: 1.2em;
    margin-right:200px ;
    margin-left: 700px;
    margin-top: -40px;
}
.job3 ul:nth-of-type(1){
    color: rgb(129, 42, 61); 
    font-size: 1.2em;
    margin-right:300px ;
    font-display: right;
    margin-left: 750px;

}
.camp-logo4{
    width: 200px;
    height: 100px;
    margin-left: 600px;
    margin-top: -500px;
    margin-bottom: 200px;
}
.job4-h{
    margin-left: 850px;
    margin-top: -280px;
    margin-bottom: 100px;
    font-size: 1.3em;
    color: rgb(119, 245, 108);
}
.job4 p:nth-of-type(1){
    margin-top:-40px ;
    margin-left: 700px;
    color: rgb(129, 42, 61); 
    font-size: 1.2em;
}
.job4 ul:nth-of-type(1){
    margin-left: 750px;
    color: rgb(129, 42, 61); 
    font-size: 1.2em;
}